---
rdf_prefix_path: "_data/prefixes.sparql"
layout: base
---

{% include head.html page=page %}
{% assign aksw = "<http://aksw.org/Groups/AKSW>" | rdf_get %}
{% assign groups = aksw | rdf_inverse_property: "aiiso:part_of", true %}
{% for group in groups %}
<section class="section">
<h3 class="title is-3"><a href="{{ group.render_path | relativize_url }}">{{ group | rdf_property: "rdfs:label" }}</a></h3>
<p>{{ group | rdf_property: "dct:abstract" }}</p>
</section>
{% endfor %}
{% include foot.html page=page %}
