---
rdf_prefix_path: "_data/prefixes.sparql"
layout: base
---

{% include head.html page=page %}
{% assign query = 'SELECT ?s ?label ?abstract  WHERE { 
  ?s <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://purl.org/vocab/aiiso/schema#ResearchGroup> .
  ?s rdfs:label ?label .
  ?s dct:abstract ?abstract .
} ' %}
{% assign resultset = page.rdf | sparql_query: query %}
{% for group in resultset %}
{% if group.iri != "http://aksw.org/Groups/AKSW" %}
<section class="section">
<h3 class="title is-3"><a href="{{ group.s }}">{{ group.label }}</a></h3>
<p>{{ group.abstract }}</p>
</section>
{% endif %}
{% endfor %}
{% include foot.html page=page %}
