<link rel="stylesheet" href="/bibliography/bibliography.css" />
<div id="search">
  <div style="width: 45%; margin: auto">
    <input
      id="textFilter"
      type="text"
      placeholder="Search..."
      class="form-control"
    />
  </div>
</div>
<div id="content">
  <div id="filters">
    <p id="counter"></p>
    <div>
      <input type="checkbox" id="sort" class="sort-toggle" />
      <label for="sort" id="sortLabel"
        ><span id="arrow">↓</span> Descending</label
      >
    </div>
    <h2 class="expand" id="yearLabel" onclick="toggleYearFilter()">
      + Year
    </h2>
    <div id="yearFilter" class="filter"></div>
    <h2 class="expand" id="authorLabel" onclick="toggleAuthorFilter()">
      + Author
    </h2>
    <div id="authorFilter" class="filter"></div>
  </div>
  <div class="results" style="width: 100%">
    <div id="infoModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
        </div>
        <pre id="infoData"></pre>
      </div>
    </div>
    <div id="publications">
      <!-- Publications will be appended here -->
    </div>
  </div>
</div>

<script src="/bibliography/bibliography.js"></script>
