{% assign root = site.rootresource | rdf_get %}
{% assign rootnavigation = root | rdf_property: "void:rootResource" %}
{% assign currentResource = include.resource %}
{% assign root_link = root.render_path | relativize_url %}

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-3">{{ root | rdf_property: "rdfs:label" }}</h1>
      <h2 class="subtitle">{{ currentResource.iri }}</h2>
    </div>
  </div>
</section>
{% comment %}
Passing root_link to the include is necessary for its cache controll
{% endcomment %}
{% include_cached navigation.html root_link=root_link %}
