{% assign person = include.person %}
{% assign label = person | rdf_property: "skos:prefLabel" %}
{% unless label %}
{% assign label = person | rdf_property: "foaf:name" %}
{% endunless %}
{% assign depiction = person | rdf_property: "foaf:depiction" %}
{% capture depiction_alttext %}
Personal image of {{ label }}
{% endcapture %}
<div class="card columns">
  <div class="column card-image is-one-third">
    <figure class="image is-4by5">
      {% include img.html src=depiction alt=depiction_alttext %}
    </figure>
  </div>
  <div class="column card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><a href="{{ person.render_path | prepend: site.baseurl }}">{{ label }}</a></p>
        <p class="subtitle is-6">{{ person.iri }}</p>
        <p class="is-6">{{ person | rdf_property: "foaf:phone" }}</p>
        <p class="is-6">{{ person | rdf_property: "foaf:mbox" }}</p>
      </div>
    </div>
  </div>
</div>
