{% assign person = include.person %}
<div class="card columns">
  <div class="column card-image is-one-third">
    <figure class="image is-5by6">
      <img src="{{ person | rdf_property: "foaf:depiction" }}" alt="Personal image">
    </figure>
  </div>
  <div class="column card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><a href="{{ person.render_path | prepend: site.baseurl }}">{{ person | rdf_property: "foaf:name" }}</a></p>
        <p class="subtitle is-6">{{ person.iri }}</p>
      </div>
    </div>
  </div>
</div>
