{% assign project = include.project %}
{% assign label = project | rdf_property: "rdfs:label" %}
<div class="card">
    {% assign logo = project | rdf_property: "foaf:logo" %}
    {% if logo %}
    {% capture logo_alttext %}
    {{ label }} Project logo
    {% endcapture %}
    <div class="card-image">
      <figure class="image">
        {% include img.html src=logo alt=logo_alttext style="width: 100%" %}
      </figure>
    </div>
    {% endif %}
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><a href="{{ project.render_path | prepend: site.baseurl }}">{{ label }}</a></p>
        <p class="subtitle">{{ project | rdf_property: "aksw:hookline" }}</p>
        <p class="subtitle is-6">{{ project.iri }}</p>
      </div>
    </div>
  </div>
</div>
