---
layout: base
---

<section class="section">
  <h2 class="title is-1">{{ page.rdf | rdf_property: "rdfs:label" }}</h2>
  {% assign abstract = page.rdf | rdf_property: "dct:abstract" %}
  {% assign content = page.rdf | rdf_property: "site:content" %}
  {% assign description = page.rdf | rdf_property: "schema:description" %}
  {% unless description %}
    {% unless content %}
      {% if abstract %}
      <section class="section">
        {{ abstract }}
      </section>
      {% endif %}
    {% endunless %}
  {% endunless %}
  {% if description %}
  {{ description | markdownify | replace: "<h4", "<h6" | replace: "<h3", "<h5" | replace: "<h2", "<h4" | replace: "<h1", "<h3" }}
  {% endif %}
  {% if content %}
  {{ content | markdownify | replace: "<h4", "<h6" | replace: "<h3", "<h5" | replace: "<h2", "<h4" | replace: "<h1", "<h3" }}
  {% endif %}
</section>
