---
rdf_prefix_path: "_data/prefixes.sparql"
layout: base
---

<section class="section">
  {% assign groups = page.rdf | rdf_inverse_property: "foaf:member", true %}
  {% for group in groups %}
  <a class="button is-rounded" href="{{ group.render_path | prepend: site.baseurl }}">{{ group | rdf_property: "rdfs:label" }}</a>
  {% endfor %}
</section>

<section class="section">
  <div class="columns is-multiline">
    <div class="column is-one-third">
      {% include person_card.html person=page.rdf %}
    </div>

    <div class="column is-two-thirds">
      {{ page.rdf | rdf_property: "dct:description" | markdownify }}
      {{ page.rdf | rdf_property: "site:content" | markdownify }}
    </div>

    <div class="column is-one-third">
      <h2>Projects</h2>
      <ul>
        {% capture project_query %}
        SELECT DISTINCT ?project WHERE {
          {
            ?resourceUri foaf:currentProject ?project
          } UNION {
            ?project doap:maintainer ?resourceUri
          }
        }
        {% endcapture %}
        {% assign projects = page.rdf | sparql_query: project_query %}
        {% for result in projects %}
        <li><a href="{{ result.project.page_url | prepend: site.baseurl }}">{{ result.project | rdf_property: "rdfs:label" }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
