
.image.is-4by5 img {
  object-fit: cover;
}

.navbar {
  padding: 0 1em;
  background-color: #ddd;
}

@media screen and (max-width: 1023px) {
  .navbar-brand .brand-icon {
    display: block
  }

  input[type=checkbox] ~ label.burger ~ .navbar-menu {
    display: none;
  }
  input[type=checkbox]:checked ~ label.burger ~ .navbar-menu {
    display: block;
  }

  input[type=checkbox] ~ label.burger span {
    transition: 0.4s;
  }

  /* Rotate first bar */
  input[type=checkbox]:checked ~ label span.bar1 {
    -webkit-transform: rotate(45deg) translate(0px, 0px) ;
    transform: rotate(45deg) translate(0px, 0px) ;
  }

  /* Fade out the second bar */
  input[type=checkbox]:checked ~ label span.bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  input[type=checkbox]:checked ~ label span.bar3 {
    -webkit-transform: rotate(-45deg) translate(0px, 0px) ;
    transform: rotate(-45deg) translate(0px, 0px) ;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.125;
}

h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

h3, h4, h5, h6 {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem
}
